@import 'react-date-range/dist/styles.css'; 
@import 'react-date-range/dist/theme/default.css';

.App {
  text-align: center;
}

* {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.li{
  list-style: none
}

* {
  font-family: 
  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
}

#actionPlan,
#dailyAffirmations {
  background-color: white;
  border-radius: .4rem;
  width: 20rem;
  height: 40px
}

#actionPlan {
  height: 5rem;
}

.diary-font,
.diary-font a {
  font-family: "Patrick Hand SC", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 4rem;
  padding-top: 5rem;
}

.diary-font {
  padding-bottom: 2rem;
  padding-top: 3rem;
}
